{
  "semi": true,
  "useTabs": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "tabWidth": 2,
  "printWidth": 120,
  "endOfLine": "lf",
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "proseWrap": "always",
  "quoteProps": "consistent",
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss",
    "prettier-plugin-organize-attributes",
    "prettier-plugin-css-order",
    "prettier-plugin-merge"
  ],
  "importOrder": ["^vue", "", "<BUILTIN_MODULES>", "", "<THIRD_PARTY_MODULES>", "", "^@/(.*)$", "", "^[./]"],
  "attributeGroups": ["^v-", "^:", "^@", "$DEFAULT"],
  "attributeSort": "ASC"
}
