@import '@/assets/tokens.module';
@import 'normalize.css';
@import 'nprogress/nprogress.css';

#nprogress {
  pointer-events: none;

  .bar {
    background: color-mix(in srgb, @primary, transparent 20%);
    height: 3px;
  }

  .peg {
    box-shadow:
      0 0 10px var(--color-primary),
      0 0 5px var(--color-primary);
  }
}

html {
  font-size: 22.25px;

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

body {
  background-color: var(--bg-main);
  color: var(--text-body);
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  user-select: none;

  font-family:
    -apple-system, BlinkMacSystemFont, 'SF Pro Display', 'SF Pro Text', 'Helvetica Neue', 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overscroll-behavior: none;
  -webkit-tap-highlight-color: transparent;
}

[v-cloak] {
  display: none !important;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  .tooltip-trigger-container {
    pointer-events: auto;
  }
}
